@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input {
  font-family: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 11px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-1 {
  max-width: 1320px;
  margin: 80px auto;
  position: relative;
  width: 1420px;
  height: 716px;
  flex-shrink: 0;
  background-image: url(/images/back/Rectangle\ 3.png);
  border-radius: 26px;
}
@media screen and (max-width: 1110px) {
  .container-1 {
    width: 1020px;
    height: 616px;
  }
}
@media screen and (max-width: 900px) {
  .container-1 {
    width: 820px;
    height: 516px;
  }
}
@media screen and (max-width: 768px) {
  .container-1 {
    width: 650px;
    height: 416px;
  }
}
@media screen and (max-width: 380px) {
  .container-1 {
    width: 350px;
    height: 316px;
  }
}

.container-2 {
  width: 100%;
  gap: 24px;
  max-width: 1320px;
  padding: 11px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.main {
  flex: 1 1 auto;
  border-top: 1px solid #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header__logo_two {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__logo_one {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__logo_two {
    display: block;
  }
}
@media screen and (max-width: 840px) {
  .header {
    padding: 0 30px;
  }
}
.header__navbar {
  display: flex;
}
.header__navbar:not(:last-child) {
  gap: 48px;
}
@media screen and (max-width: 900px) {
  .header__navbar:not(:last-child) {
    gap: 28px;
  }
}
@media screen and (max-width: 840px) {
  .header__navbar {
    display: none;
  }
}
.header__navbar_link {
  color: var(--Black-1, #8D8C8B);
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: all 0.2 ease-in-out;
  line-height: normal;
}
.header__navbar_link:focus {
  color: #1C1917;
}
.header__navbar_link:hover {
  color: #1C1917;
  transition: all 0.2 ease-in-out;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 12px;
}
.header__buttons:not(:last-child) {
  gap: 12px;
}
.header__buttons_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__buttons_mobile {
    display: block;
  }
}
.header__buttons_button-1 {
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Brown-2, #FF8541);
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.header__buttons_button-1:hover {
  background: #fff;
  color: #FF8541;
  border: 1px solid #FF8541;
}
@media screen and (max-width: 768px) {
  .header__buttons_button-1 {
    color: #FFF;
    font-family: SF Pro Text;
    font-size: 16px;
    padding: 12px 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.header__buttons_button-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 83px;
  height: 55px;
  padding: 16px 11px 15px 18px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Black-2, #555351);
  background: #FFF;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header__buttons_button-2 {
    display: none;
  }
}
.header__buttons_button-2:hover {
  background: #FF8541;
  color: #000;
  border: none;
}

.banner-1__titles {
  padding-left: 80px;
}
.banner-1__titles_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.banner-1__subtitles {
  display: flex;
  margin-top: 30px;
  padding-left: 80px;
}
.banner-1__subtitles_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 25px;
  font-style: normal;
  margin-right: 30px;
  font-weight: 400;
  line-height: normal;
}

.titles {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 84px 0;
}

.text {
  width: 100%;
  max-width: 1320px;
  padding: 11px;
  margin: 80px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text_title {
  color: #000;
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text_title_red {
  color: var(--Brown-2, #FF8541);
  font-family: SF Pro Text;
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text_button {
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black-2, #555351);
  background: #FFF;
  color: var(--Black-1, #1C1917);
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text_button:hover {
  background: #FF8541;
  color: #000;
  border: none;
}

.banner-2__left {
  width: 337px;
  gap: 24px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: url(/images/back/Rectangle\ 26.png);
}
.banner-2__left_panel {
  padding: 100px 24px 26px 24px;
}
.banner-2__left_panel_top_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  margin-top: 50px;
  font-weight: 600;
  line-height: normal;
}
.banner-2__left_panel_top_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-2__left_panel_top_icons_left {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.banner-2__left_panel_top_icons_left_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left_panel_top_icons_right_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-1 {
  width: 337px;
  gap: 24px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: url(/images/back/Rectangle\ 25.png);
}
.banner-2__left-1_panel {
  padding: 100px 24px 26px 24px;
}
.banner-2__left-1_panel_top_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  margin-top: 50px;
  font-weight: 600;
  line-height: normal;
}
.banner-2__left-1_panel_top_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-2__left-1_panel_top_icons_left {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.banner-2__left-1_panel_top_icons_left_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-1_panel_top_icons_right_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-3 {
  width: 337px;
  gap: 24px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: url(/images/back/Rectangle\ 25\ \(1\).png);
}
.banner-2__left-3_panel {
  padding: 100px 24px 26px 24px;
}
.banner-2__left-3_panel_top_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  margin-top: 50px;
  font-weight: 600;
  line-height: normal;
}
.banner-2__left-3_panel_top_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-2__left-3_panel_top_icons_left {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.banner-2__left-3_panel_top_icons_left_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-3_panel_top_icons_right_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-4 {
  width: 337px;
  gap: 24px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: url(/images/back/Rectangle\ 25\ \(1\)3.png);
}
.banner-2__left-4_panel {
  padding: 100px 24px 26px 24px;
}
.banner-2__left-4_panel_top_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  margin-top: 50px;
  font-weight: 600;
  line-height: normal;
}
.banner-2__left-4_panel_top_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-2__left-4_panel_top_icons_left {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.banner-2__left-4_panel_top_icons_left_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner-2__left-4_panel_top_icons_right_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */