@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input {
  font-family: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "comfortaa", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 11px;
  border-bottom: 1px solid rgba(85, 83, 81, 0.7843137255);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-1 {
  max-width: 1320px;
  margin: 80px auto;
  position: relative;
  width: 1420px;
  height: 716px;
  flex-shrink: 0;
  background-image: url(/images/back/Rectangle\ 3.png);
  border-radius: 26px;
}

.main {
  flex: 1 1 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header__navbar {
  display: flex;
}
.header__navbar:not(:last-child) {
  gap: 48px;
}
.header__navbar_link {
  color: var(--Black-1, #8D8C8B);
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: all 0.2 ease-in-out;
  line-height: normal;
}
.header__navbar_link:focus {
  color: #1C1917;
}
.header__navbar_link:hover {
  color: #1C1917;
  transition: all 0.2 ease-in-out;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 12px;
}
.header__buttons:not(:last-child) {
  gap: 12px;
}
.header__buttons_button-1 {
  display: inline-flex;
  padding: 18px 36px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: var(--Brown-2, #FF8541);
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
.header__buttons_button-1:hover {
  background: #fff;
  color: #FF8541;
  border: 1px solid #FF8541;
}
.header__buttons_button-2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 83px;
  height: 55px;
  padding: 16px 11px 15px 18px;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--Black-2, #555351);
  background: #FFF;
  transition: all 0.2s ease-in-out;
}
.header__buttons_button-2:hover {
  background: #FF8541;
  color: #000;
  border: none;
}

.banner-1 {
  display: none;
}
.banner-1__titles {
  padding-left: 80px;
}
.banner-1__titles_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.banner-1__subtitles {
  display: flex;
  margin-top: 30px;
  padding-left: 80px;
}
.banner-1__subtitles_title {
  color: #FFF;
  font-family: SF Pro Text;
  font-size: 25px;
  font-style: normal;
  margin-right: 30px;
  font-weight: 400;
  line-height: normal;
}

.titles {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 84px 0;
}/*# sourceMappingURL=main.css.map */